/* Tabs */
.custom-tabs .active{
    color: var(--main-color) !important;
}


.custom-tabs .custom-tabs-item{
    padding: 0px !important;
    min-width: 0px !important;
    margin-right: 20px !important;
    text-transform: inherit !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    outline-width: 0px !important;

}

/* End of Tabs */

/* Cards */
.custom-card{
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px !important ;
}

.custom-card .custom-card-img{
    height: 180px;
}

.custom-card .custom-card-title{
    font-weight: 500;
}

.custom-card .custom-card-caption{
    color: gray !important;
    font-weight: 400;
    
}

/* End of Cards */

/* Dialog */


.project-dialog .project-dialog-img{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;

}

.project-dialog .project-dialog-description{
    margin-top: 10px !important;
}

.project-dialog .project-dialog-actions{
    justify-content: center !important;
    margin-bottom: 10px;
}

.project-dialog .project-dialog-icon{
    color: darkslategray;
    margin: 0px 12px;
    cursor: pointer;

}

.project-dialog .project-dialog-icon :hover{
    color: var(--main-color);

}

.project-dialog .project-dialog-icon > MuiSvgIcon-root{
   font-size: 30px !important;

}
/* End of Dialog */
